<h1 class='text-center'><%= @event.title %></h1>
<hr />
<br />
<div class="row">
  <h2>What:</h2>
  <p><%= @event.description %></p>

  <h2>Who:</h2>
  <h3>Instructors:</h3>
  <ul>
  <% @event.instructors.each do |instructor| %>
    <li><%= "#{instructor.first_name} #{instructor.last_name}" %></li>
    <!-- <p><%# link_to user.name, user_path(user) %></p> -->
  <% end %>
  </ul>
  <h3>Organizers:</h3>
  <ul>
  <% @event.organizers.each do |organizer| %>
    <li><%= "#{organizer.first_name} #{organizer.last_name}" %></li>
    <!-- <p><%# link_to user.name, user_path(user) %></p> -->
  <% end %>
  </ul>

  <h2>Where:</h2>
  <p><%= @event.address %></p>

  <!-- <h4>When:</h4> -->
  <!-- <p><%#= #@event.time %></p> -->
  
  <!-- <h4>Cost:</h4> -->
  <!-- <p><%#= #@event.cost %></p> -->

</div>
